h1 {
  display: flex;
  justify-content: center;
  font-family: 'Life Savers', serif;
  color: #2B4E80;
  padding: 1em;
}


/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
